<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="env" value="Dev"/>
    <add key="Connection" value="Data Source = qzl8e681ue.database.windows.net; Initial Catalog = Platform_50; Persist Security Info=True;User Id = bundler; Password=xJ2B35&#38;7m0WW&#38;#HB;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>