<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="env" value="QAAzure"/>
    <add key="Connection" value="Data Source=svtjbqh4b6.database.windows.net;Initial Catalog=Platform_50_QA;Persist Security Info=True;User Id=bundler;Password=310Gq81@S7j4G52i;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>